<footer class="footer">
  <div class="container footer__inner">
    <a href="/" class="nav__logo">Sport<span>SEO</span> Specialist</a>
    <p>© 2026 SportSEO Specialist, alle rechten voorbehouden</p>
    <p class="footer__meta">KVK: 87830817 &nbsp;·&nbsp; Ald Duerswâld 4, 9241WN Wijnjewoude</p>
    <div class="footer__links">
      <a href="#">Privacybeleid</a>
      <a href="#">Algemene voorwaarden</a>
    </div>
  </div>
</footer>
