---
import site from '../data/site.json';
---

<footer class="footer">
  <div class="container footer__inner">
    <a href="/" class="nav__logo">Sport<span>SEO</span> Specialist</a>
    <p>© 2026 {site.companyName}, alle rechten voorbehouden</p>
    <p class="footer__meta">KVK: {site.kvk} &nbsp;·&nbsp; {site.address}</p>
    <div class="footer__links">
      <a href="#">Privacybeleid</a>
      <a href="#">Algemene voorwaarden</a>
    </div>
  </div>
</footer>
